@use "@Styles/mixin.module.scss" as mixins;
@use "@Styles/variables.module.scss" as variables;

.btn{
    @include mixins.btn(176px, 42px,variables.$primary_color, 3px); 
    font-size: 14px;
    font-weight: 300;
    // padding: 13px 45px;
    cursor: pointer;

    &:hover{
        transition: background-color 300ms;
    }
}

.primaryBtn{
    background-color: variables.$primary_color;
    color: variables.$white_color;

    &:hover{
        background-color:transparent;
        color:variables.$primary_color ;
        border: 1px solid variables.$primary_color;
    }
}

.secondaryBtn{
    background-color: variables.$white_color;
    color: variables.$primary_color;
    border: 1px solid variables.$primary_color;
    &:hover{
        background-color:variables.$primary_color;
        color: variables.$white_color; ;
    }
}
