@use '@Styles/variables.module.scss' as variables;
@use '@Styles/mixin.module.scss' as mixins;
.container{
    // height: 144px;
    background-color: variables.$primary_color;
    margin-top: -75px;
    padding: 20px 50px;
    z-index: 1;
    // position: absolute;
    @include mixins.flex_box_custom(space-between,center,0px);
}

.containerCard{
    @include mixins.flex_box_custom(center,center,18px);
    width: 280px;
    height: 104px;
}

.containerContent{
    @include mixins.flex_box_custom(center,flex-start,13px);
    flex-direction: column;
    color: variables.$white_color;
    font-weight: 300;
    .title{
        font-size: 17px;
        color: #FFFFFFC7;
    }
    .desc{
        font-size: 16px;
        color: #FFFFFFC7;
    }
}

