@use "@Styles/mixin.module.scss" as mixins;
@use "@Styles/variables.module.scss" as variables;

.container{
    @include mixins.flex_box_custom(center,center,0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.containerHeader{
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxIcon{
    @include mixins.flex_box_custom(center,center,10px)
}

.containerBox{
    @include mixins.flex_box_custom(center,center,20px)
}

.containerMenu{
    @include mixins.flex_box_custom(center,center,40px)
}

.boxIcon{
    @include mixins.radius_common(50%);
    @include mixins.flex_box_custom(center,center,0);
    background-color: variables.$primary_color;
    width: 26px;
    height: 26px;
}
.menu{
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
}
.menu::after{
    content: "";
    display: block;
    height:2px;
    margin-top: 6px;
    background: variables.$primary_color;
    transform-origin:right ;
    transform: scale(0);
    opacity: 0;
    transition:transform 300ms, opacity 500ms ;
}

.menu:hover::after{
    opacity: 1;
    transform: scale(1);
}